
@media (min-width: 1300px) {
  .main-container-wrapper {
    width: 100%;
  }

  h1 {
    font-size: 50px;
   margin-right: -36px;
  }

  nav ul {
    margin-top: 74px;
  }

 nav ul li a {
   font-size: 23px;
 }

  .menu-icons {
    margin-top: 101px;
  }

  .figure img {
    width: 22%;
  }

  .btn a {
    font-size: 17px;
  }

  .food-description {
    flex-basis: 30%;
    padding-bottom: 20px;
  }

  .food-description-text p, .ingredients-description p, .reservation-text p {
    font-size: 16px;
    line-height: 24px;
  }

  figure img{
    width: 61%;
  }

  .menu-position p, .menu-position-special p{
    text-align: start;
  }

  .container-menu {
    margin:0;
  }

  h5 {
    font-size: 25px;
  }

  .menu-position p, .menu-position-special p{
    font-size: 20px;
  }

  .photos, .reserwations-places {
    flex-basis: 50%;
  }

  .section-about p {
    font-size: 12px;
  }
}

@media(max-width: 1299px) {
  .main-container-wrapper {
    width: 100%;
  }
}

@media(max-width: 1024px) {
  .main-container-wrapper {
    width: 100%;
  }

  h1 {
    margin-right: 0;
    padding: 50px 20px 50px 50px;
  }

  h2 {
    font-size: 59px;
  }

  nav ul li {
    margin-right: 26px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .menu-icons span {
    font-size: 18px;
  }

  .heading {
    margin: 100px 150px 0px 150px;
  }

  .btn a {
    font-size: 13px;
  }

  .food-description {
    flex-basis: 40%;
    margin-left: 94px;
  }

  .container-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-column {
    flex-basis: 47%;
  }

  .guest-revievs {
    width: 58%;
  }

  .reservation-text {
    padding:0;
  }

  form {
    margin: 0;
  }

  .photos {
    padding-left: 0;
  }

  .footer-wrapper {
    margin: 35px 80px 30px 80px;
  }
  .section-about p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 27px;
  }

  nav ul {
    margin-top: 40px;
  }

  nav ul li {
    margin-right: 17px;
}

  nav ul li a {
    font-size: 15px;
}

  .menu-icons {
    display:none;
  }

  .heading {
    margin: 44px 66px 0px 60px;
}

  .figure img {
    width: 35%;
  }

  .btn a, blockquote, .guest-revievs-text p {
    font-size: 14px;
}

blockquote:before {
  font-size: 74px;
  top: -3rem;
}

  .food-description {
    flex-basis: 50%;
    padding-bottom: 20px;
    margin-left: 0;
  }

  .food-description h3 {
    font-size: 30px;
  }

  .food-description-text p, .ingredients-description p {
    font-size: 14px;
    line-height: 27px;
  }

  .reservation-text p {
    font-size: 13px;
    line-height: 20px;
  }

  .photo-dish img {
    width: 92%;
}

.photo-dish {
  flex-basis: 50%;
  padding-top: 149px;
}

  figure img{
    width: 61%;
  }

  .ingredients-description {
    width:420px;
    margin: 100px 183px 82px 0px;
  }

  .menu h3, .guest-revievs h3, .reservation-text h3 {
    font-size: 28px;
  }

  h5 {
    font-size: 18px;
  }

  .menu-position p, .menu-position-special p{
    font-size: 14px;
    text-align: start;
  }

  .menu-position, .menu-position:first-of-type {
    padding-left: 33px;
    padding-right: 33px;
  }

  .menu-position-special {
    margin: 0 24px;
  }

  .photos, .reserwations-places {
    flex-basis: 46%;
  }

  .reserwation-form {
    margin-left: 4px;
  }

  .section-about p {
    font-size: 11px;
  }

  .footer-wrapper {
    margin: 35px 30px 30px 30px;
  }

  .section-about:last-of-type {
    padding: 0;
  }
}

@media (max-width: 450px) {
  nav ul li a {
    font-size: 29px;
  }

  .figure img {
    width: 22%;
  }

  .heading {
    margin: 100px 150px 30px 150px;
  }
}

@media (max-width: 449px) {

  .main-container-wrapper {
    width:100%;
}

  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }
  
  #check:checked ~ ul{
    left: 0;
  }

  nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  nav ul {
      padding-right: 40px;
      height: 44vh;
  }

  nav ul li {
      display: block;
      margin: 0px;
      padding-top:5px;
      line-height: 26px;
  }

  nav ul li a {
      padding-top: 0px;
  }

  a.active,a:hover{
      color: rgb(102, 18, 18);
      cursor: pointer;
      border-top: none;
    }

  h1 {
      font-size: 24px;
      margin: 0;
      padding: 25px 18px;
  }

  .checkbtn {
      line-height: 2;
  }

  .menu-icons {
      display:none;
  }

  .heading {
     margin: 45px 0 30px 0;
      line-height: 2.4em;
  }

  h2 {
      font-size: 8vw;
      margin: 0 10px;
  }

  .figure {
      text-align:center;
  }

  .btn {
      display: flex;
      padding-bottom: 20px;
      justify-content: center;
  }

  .btn a {
      font-size: 12px;
      padding: 13px 20px;
  }

  .figure img {
    width:50%;
  }

  .container-food {
    display: block;
  }

  .food-description{
    margin-left:0;
    padding-top: 10px;
  }

  .food-description h3, .ingredients-description h3, .menu h3, .guest-revievs h3, .reservation-text h3, h3  {
    font-size: 25px;
    padding-top: 10px;
  }

  figure img {
    width: 50%;
  }

  .food-description-text p, .ingredients-description p, .reservation-text p {
    font-size: 14px;
  }

  .food-description-text img:last-of-type {
    width: 70%;
    padding: 0 0 20px 52px;
  }

  .photo-dish {
    display: none;
  }

  .container-ingredients {
    display: flex;
    background-size: cover;
  }

  .ingredients-description {
    margin: 0;
  }

  .ingredients-description p {
    padding: 5px 15px 0 15px;
  }

  .icons {
    padding: 0 0 20px 0;
  }

  .container-menu {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display:block;
  }

  .menu-position, .menu-position:first-of-type {  
    padding: 0 20px;
  }

  .position h5 {
    font-size: 16px;
  }

  .menu-position p, .menu-position-special p, .section-about p  {
    font-size: 12px;
  }

  .menu-position-special {
    margin: 0 10px;
  }

  .menu-column:last-child {
    margin: 0 0 30px 0;
  }

  .guest-revievs {
    margin:10px 0;
    width:90%;
  }

  .guest-revievs h3 {
    margin: 20px 0;
  }

  blockquote {
    margin: 0;
    font-size: 14px;
  }

  .guest-revievs-text p {
    font-size: 10px;
    padding-bottom: 20px;
  }

  .reserwations-container {
    display: contents;
  }

  .photos {
    padding-left: 0;
    margin:auto;
    text-align:center;
    padding-top: 30px;
  }

  .photos img {
    width: 35%;
  }

  .reservation-text {
    padding: 20px;
  }

  .reserwation-form {
    margin-left: 0;
  }

  form {
    margin: 0 20px;
    text-align:center;
    display: contents;
  }

  .send {
    margin: 0 0 30px 0;
  }

  .footer-wrapper {
    margin: 10px 20px;
    display:block;
  }

  .section-about:nth-of-type(2), .section-about:last-of-type {
    padding-left:0;
  }

  .fontawesome-wrapper {
    padding:0;
  }
}







